main {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Index*/

.section_grid_2-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.mincomputerlink {
  display: grid;
  grid-column: 1/3;
  gap: 10px;
}

@media (width>=800px) {
  .section_grid_1-1 {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
  }

  .order {
    order: -1;
  }
}

/*Min Computer*/

.grid_1-1_computer {
  display: grid;
  gap: 10px;
}

@media (width>=800px) {
  .grid_1-1_computer {
    display: grid;
    grid-template-columns: 1fr;
  }
  .h2paragraph {
    display: grid;
    grid-column: 2/3;
  }
}

/*Operativsystemer*/

/*Komponenter*/

.grid_1-1-1 {
  display: grid;
}

.grafikkort {
  display: grid;
  grid-row: 2;
}

/*Galleri*/

/* .grid_1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 20px;
}

@media (width>=800px) {
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
  }
} */

/* Tæt på */

/* .grid_1-1-1-1 {
  display: grid;
  gap: 10px;
}

@media (width>=800px) {
  .grid_1-1-1-1 {
    grid-template-columns: 2fr 1fr 1fr;
  }
}

.apple {
  grid-row: 1/3;
}

.code {
  grid-column: 2/3;
}

.chip {
  grid-column: 2/3;
}

.keyboard {
  grid-column: 1/3;
} */

/* Skal ikke redigeres mere top */

.grid_1-1 {
  display: grid;
}

@media (width>=800px) {
  .grid_1-1 {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
}

/* Skal ikke redigeres mere top */

.grid_1-1-1-1 {
  display: grid;
  gap: 10px;
}

@media (width>=800px) {
  .grid_1-1-1-1 {
    grid-template-columns: 2fr 1fr 1fr;
  }

  .apple {
    grid-row: 1/3;
  }

  .code,
  .desktup {
    grid-column: 2/4;
  }

  .desktup {
    grid-column: 2/3;
  }

  .keyboard {
    grid-column: 1/3;
  }
}
